#blogs-header{
    margin: 25px 0 25px 5%; /* Top right bottom left*/
}

main.container{
    padding: 10px 5%;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 15px;
    
}

.blog > * {
    margin: 5px 0;

}

.blog p.blog-text{
    font-weight: 700;
}


#header-text {
    margin: 5%;
}
