/* RESETS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    color: #444;
  }
  
body, html {
    height: 100%;
}

body {
    display:flex;
    flex-direction:column;
}

a {
    text-decoration: none;
    color: #333;
}
button {
    cursor: pointer;
}

/* GLOBAL/REUSABLE CLASSES */
.text-center {
    text-align: center;
}
.head-text {
    margin: 15px 0;
}
.sub-text {
    margin: 10px;
}
/* Custom styles */
header{
    display:flex;
    justify-content: space-between;
    padding: 10px 2%;
}

#light-dark {
    background-color: white;
    border-color: rgb(93, 93, 93);
}
.dark {
    background-color: rgb(93, 93, 93);
}
.dark *{
    color: white;
}
.dark #light-dark {
    color: black;
    border-color: white;
}

main {
    flex:1;
}

footer{
    display:flex;
    bottom:0;
    /* a static height is not good, make sure to use the padding and margins */
    justify-content: space-between;
    text-decoration: underline;
    padding: 30px 5%;
}